<%= form_with(model: recipe) do %>
  <% 5.times do |i| %>
    <div class="form-row">
      <div class="form-group col-md-4">
        <%= label_tag "text_input_#{i+1}", "Article #{i+1}", class: 'control-label' %>
        <%= text_field_tag "text_input_#{i+1}", nil, class: 'form-control' %>
      </div>
      <div class="form-group col-md-4">
        <%= label_tag "number_input_#{i+1}", "Weight of  #{i+1}", class: 'control-label' %>
        <%= number_field_tag "number_input_#{i+1}", nil, class: 'form-control' %>
      </div>
      <div class="form-group col-md-4">
        <%= select_tag "weight_unit_#{i+1}", options_for_select([ "mg", "g", "kg", "l", "ml", "pc"]), class: 'form-control' %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= submit_tag "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>
