
<br>
<h1 style="text-align:center">Overview</h1>
<br>
<div style="width: 1200px; margin: 0 auto; text-align: center; ">
  <h3>Recipes made</h3>
  <div style=" box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
  <%= line_chart Recipe.group_by_day(:created_at).count, library: {colors: ["#A3BC04"], style: {"box-shadow": "rgba(0, 0, 0, 0.24) 0px 3px 8px"}}%>
  </div>
  <br>
  <hr>
  <h3>Registrations</h3>
  <div style=" box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
  <%= line_chart User.group_by_day(:created_at).count, library: {colors: ["#A3BC04"], style: {"box-shadow": "rgba(0, 0, 0, 0.24) 0px 3px 8px"}}%>
  </div>
  <br>
</div>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<div style="width: 1200px; margin: 0 auto;">
<hr>
<h1> Trending Recipes </h1>
<table class="styled-table" style="width: 100%;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Click Count</th>
    </tr>
  </thead>
  <tbody>
<% if @trending_recipes %>
  <% @trending_recipes.each do |trending_recipe| %>
      <tr>
        <td><%= trending_recipe.id %></td>
        <td><%= link_to trending_recipe.title, trending_recipe,  style: "color: #A3BC04;"  %></td>
        <td><%= trending_recipe.click_count %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
  </div>
</table>

<table class="styled-table" style="width: 100%;">
<h1> All recipes </h1>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Click count</th>
        </tr>
    </thead>
    <tbody>
        <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.id %></td>
        <td><%= link_to recipe.title, recipe, style: "color: #A3BC04;" %></td>
        <td><%= recipe.click_count %></td>
      </tr>
    <% end %>
    </tbody>
</table>
<br>

