<h1>Post your recipe!</h1>

<%= form_for @recipe do |f| %>
  <div class="form-group">
    <%= f.label :title, "Title ( no need to change if you see it fit )", style:"color: rgb(163,188,4);" %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :difficulty, "Difficulty", style:"color: rgb(163,188,4);" %>
    <%= f.hidden_field :difficulty, id:"recipe_difficulty", value:1%>
    <i class="bi eggies bi-egg-fill fa-lg" style="cursor: pointer;" onClick="change(1)"></i><i class="bi eggies bi-egg fa-lg" onClick="change(2)" style="cursor: pointer;"></i><i class="bi eggies bi-egg fa-lg" onClick="change(3)" style="cursor: pointer;"></i>
    <i class="bi eggies bi-egg fa-lg" onClick="change(4)" style="cursor: pointer;"></i><i class="bi eggies bi-egg fa-lg" onClick="change(5)" style="cursor: pointer;"></i>
  </div>

  <div class="form-group">
    <%= f.hidden_field :confirmed, id:"confirmed", value:true %>
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>

<div>
  <%= link_to "Cancel, delete it", @recipe, method: :delete %>
</div>
<script>

function change(difficulty) {
  document.getElementById("recipe_difficulty").value = difficulty;
  if(difficulty == 1) {
    document.getElementsByClassName("eggies")[1].classList.remove("bi-egg-fill");
    document.getElementsByClassName("eggies")[2].classList.remove("bi-egg-fill");
    document.getElementsByClassName("eggies")[3].classList.remove("bi-egg-fill");
    document.getElementsByClassName("eggies")[4].classList.remove("bi-egg-fill");
    document.getElementsByClassName("eggies")[1].classList.add("bi-egg");
    document.getElementsByClassName("eggies")[2].classList.add("bi-egg");
    document.getElementsByClassName("eggies")[3].classList.add("bi-egg");
    document.getElementsByClassName("eggies")[4].classList.add("bi-egg");
    $("#recipe_difficulty").val(1);


  } else if(difficulty == 2) {
    document.getElementsByClassName("eggies")[1].classList.add("bi-egg-fill");
    document.getElementsByClassName("eggies")[1].classList.remove("bi-egg");
    document.getElementsByClassName("eggies")[2].classList.remove("bi-egg-fill");
    document.getElementsByClassName("eggies")[2].classList.add("bi-egg");
    document.getElementsByClassName("eggies")[3].classList.remove("bi-egg-fill");
    document.getElementsByClassName("eggies")[3].classList.add("bi-egg");
    document.getElementsByClassName("eggies")[4].classList.remove("bi-egg-fill");
    document.getElementsByClassName("eggies")[4].classList.add("bi-egg");
    $("#recipe_difficulty").val(2);
  } else if(difficulty == 3) {
    document.getElementsByClassName("eggies")[1].classList.remove("bi-egg");
    document.getElementsByClassName("eggies")[1].classList.add("bi-egg-fill");
    document.getElementsByClassName("eggies")[2].classList.remove("bi-egg");
    document.getElementsByClassName("eggies")[2].classList.add("bi-egg-fill");
    document.getElementsByClassName("eggies")[3].classList.add("bi-egg");
    document.getElementsByClassName("eggies")[3].classList.remove("bi-egg-fill");
    document.getElementsByClassName("eggies")[4].classList.remove("bi-egg-fill");
    document.getElementsByClassName("eggies")[4].classList.add("bi-egg");
    $("#recipe_difficulty").val(3);
  } else if (difficulty == 4)
  {
    document.getElementsByClassName("eggies")[1].classList.remove("bi-egg");
    document.getElementsByClassName("eggies")[1].classList.add("bi-egg-fill");
    document.getElementsByClassName("eggies")[2].classList.remove("bi-egg");
    document.getElementsByClassName("eggies")[2].classList.add("bi-egg-fill");
    document.getElementsByClassName("eggies")[3].classList.remove("bi-egg");
    document.getElementsByClassName("eggies")[3].classList.add("bi-egg-fill");
    document.getElementsByClassName("eggies")[4].classList.add("bi-egg");
    document.getElementsByClassName("eggies")[4].classList.remove("bi-egg-fill");
    $("#recipe_difficulty").val(4);
  } else if (difficulty == 5)
  {
    document.getElementsByClassName("eggies")[1].classList.remove("bi-egg");
    document.getElementsByClassName("eggies")[1].classList.add("bi-egg-fill");
    document.getElementsByClassName("eggies")[2].classList.remove("bi-egg");
    document.getElementsByClassName("eggies")[2].classList.add("bi-egg-fill");
    document.getElementsByClassName("eggies")[3].classList.remove("bi-egg");
    document.getElementsByClassName("eggies")[3].classList.add("bi-egg-fill");
    document.getElementsByClassName("eggies")[4].classList.remove("bi-egg");
    document.getElementsByClassName("eggies")[4].classList.add("bi-egg-fill");
    $("#recipe_difficulty").val(5);
  }
}
</script>