<!DOCTYPE html>
<html>
  <head>
    <title>RecipeSite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag 'application', 'custom' %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%= javascript_include_tag 'jquery' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'navbar'%>
    <%= yield %>
  </body>
</html>
